
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    color: rgb(246, 236, 236);
}

/*this is good*/
#first{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.directly{
    margin: 30px 0;
}
.directly ul li{
    display:inline;
    list-style: none;
    margin: 20px 20px;
    flex-wrap: wrap;
}
.directly ul li a{
    margin-top: 40px;
    color: rgb(2, 88, 75);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.directly ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: #9d8137;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1.0s;
}

.directly ul li a:hover::after{
    width: 100%;
}
.name{
    margin-top: 15px;
    font-size: 30px;
    display: inline;
}
.name h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(245, 248, 247);
    margin-top: 450px;
    margin-left: 100px;
}

/*header section */

#about {
    padding: 500px 100px;
    color: aliceblue;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colum-1{
    flex-basis: 40%;
}
.colum-1 img {
    width: 60%;
    border-radius: 20px;
}
.aboutme{
    flex-basis: 60%;
}
h3 {
    padding: 20px 20px;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
    margin-left: 80px;
    color: #035821;
}
 p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
 }
#myself {
    position: fixed; 
    top:50px; 
    left: 0; 
    width: 50px; 
    height:50px
}
/*projects*/
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.prlist{
    border-radius: 10PX;
    position: relative;
    overflow: hidden;
}
.prlist img {
    margin-left: 30px;
    width: 80%;
    border-radius: 20px;
    display: block;
}
/*education*/
#education{
    padding: 20px 0;
    color: aliceblue;
}

.myeducation{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*contact me*/

.contact-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-decoration: none;
}
.contact-me div{
    background: rgb(255, 255, 255);
    padding: 32px 200px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
.contact-me div img{
    margin-bottom: 20px;

}
/*bottom buttons*/
.button {
    margin: 50px 50px;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    border: 3px solid darkgreen;
    border-radius: 10px;
    text-decoration: none;
}
.button:hover{
    background: #035821;
}

/* footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer p {
    margin: 30px 30px;
    font-size: 20px;
}
@media screen and (max-width:1000px){
    .name h1 {
        font-size: 36px;
        line-height: 50px;
        padding: 100 0;
    }
    h2 {
        font-size: 20px;
        align-items: center;
        padding: 0 0;
    }
    .directly{
        font-size: 12px;
        display: none;}
    .colum-1 img {
        width: 300px;
        border-radius: 20px;
        margin-left: -30;}
    #about{
        padding: 5px 5px;
    }

       .contact-me{
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 15px;
        margin-top: 15px;
        text-decoration: none;
        }
        .contact-me div{
            background: rgb(238, 231, 231);
            padding: 10px 60px;
            border-radius: 20px;
            display: block;
            margin: 0 5;
            font-size: 12px;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
    .contact-me div img{
        margin: -10 -10;
    }
    .button{
        margin: 25px 25px;
        display: inline;
        padding: 0;
    }
}
    
