*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    color: rgb(246, 236, 236);
}

/*this is good*/
#first{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.directly ul li{
    display:inline;
    list-style: none;
    margin: 20px 20px;
    flex-wrap: wrap;
}
.directly ul li a{
    margin-top: 10px;
    color: rgb(2, 88, 75);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.directly ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: #035821;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1.0s;
}

.directly ul li a:hover::after{
    width: 100%;
}
.name{
    margin-top: 15px;
    font-size: 30px;
}
.name h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(245, 248, 247);
    margin-top: 500px;
    margin-left: 200px;
}
/*header section */

#about {
    padding: 90px;
    color: aliceblue;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colum-1{
    flex-basis: 40%;
}
.colum-1 img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}
.aboutme{
    flex-basis: 60%;
}
h3 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor:;
}
#myself {
    position: fixed; 
    top:50px; 
    left: 0; 
    width: 50px; 
    height:50px
    
}

.contact-me img {
    width: 30px;
    height: auto;
    float: left;
}
.button {
    background-color: black;
    color: aliceblue;
    padding: 5px;
    border: 1px dashed darkgreen;
}